.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #37003c;
}

.login-card {
  background: white;
  color: #37003c;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.login-card input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #00ff85;
  border: none;
  color: #37003c;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.injury {
  color: red;
  font-size: 1.2em;
  margin-left: 5px;
}

.injured .card-front {
  background: #ff7272 !important;
}
